$buttons: (
  "primary" $primary $off-white,
  "secondary" $secondary $off-white
  "tertiary" $tertiary $off-white,
  "highlight" $highlight $off-white,
  "success" $success $off-white,
  "warning" $warning $off-white,
  "error" $error $off-white,
  "white" $white $textcolor,
  "black" $black $off-white,
);

.button {
  @include heading-font();
  background: $primary;
  color: $white;
  border: 1px solid $primary;
  border-radius: 3px;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  &.large {
    font-size: 15px;
  }
  &:hover {
    background: darken($primary, 5%);
    border-color: darken($primary, 5%);
    text-decoration: none;
  }
  @each $name, $buttonColor, $color in $buttons {
    &.#{$name} {
      background: $buttonColor;
      @if $name == "white" {
        border-color: $color;
      } @else {
        border-color: $buttonColor;
      }
      color: $color;
      &:hover {
        background: darken($buttonColor, 5%);
        @if $name != "white" {
          border-color: darken($buttonColor, 5%);
        }
      }
    }
  }
  &.outline {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
}
