.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .field {
    grid-column: 1 / span 2;
    &.split-left {
      @include media-up(large-mobile) {
        grid-column: 1;
      }
    }
    &.split-right {
      @include media-up(large-mobile) {
        grid-column: 2;
      }
    }
    input, textarea, select {
      border: darken($off-white, 5%) 1px solid;
      width: 100%;
      margin: 0 0 15px;
      // Validation
      &.errorActive {
        border: 1px solid $error !important;
        &::placeholder {
          color: darken($error, 10%) !important;
        }
      }
    }
  }
  .label {
    display: block;
    padding: 0 0 8px;
    font-size: 15px;
    font-weight: bold;
    color: rgba($textcolor, 0.6);
  }
  .formButton {
    width: 149px;
    height: 43px;
    cursor: pointer;
  }
  .errorMsg {
    grid-column: 1 / 3;
    margin: 0 auto;
    color: $error;
    position: relative;
    top: 15px;
    height: 23px;
  } 
}
